<div class="container">
  <h1>Grant's Cocktail Collections</h1>
  <p><%= link_to "Add a new drink!", new_cocktail_path  %></p>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-6 card p-4">
        <div class="card-image waves-effect waves-block waves-light">
          <!--  <img class="activator" src="https://cdn.liquor.com/wp-content/uploads/2011/01/diamond_blue-newest.jpg"> -->
        </div>
        <p><%= link_to cocktail.name, cocktail_path(cocktail) %>
          <%= link_to cocktail_path(cocktail), method: :delete, data: {confirm: "Delete?"} do  %>
            <i class="fas fa-thumbs-down"></i>
          <% end %>
        </p>
      </div>
    <% end %>
  </div>
</div>